body {
    margin: 0;
    background: #141414;
    color: white;
    font-family:
        Roboto,
        Arial,
        sans-serif;
}

/* HOMEPAGE */

.home-body {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(100%);
}

.home-container {
    width: 700px;
    text-align: center;
}

.logo {
    font-size: 60px;
    margin-bottom: 40px;
}

/* SEARCH BOX */

.search-box {

    flex: 1;
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 16px;
    border-radius: 12px 0px 0px 12px;
    border: none;
    background: #1a1919;
    outline: 3px solid #111111;
    color: white;
    font-size: 18px;
}

input:focus {
    outline: none;
}

button {
    position: relative;
    right: 10px;
    padding: 16px 24px;
    border: none;
    border-radius: 0px 12px 12px 0px;
    background: #2563eb;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

